{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
    <h1 class="d-flex justify-content-center">Welcome to IIT M BS</h1>
    <h2 class="d-flex justify-content-center">Final Marks Calc</h2>
    <br><br><br><br>
    <div class="d-flex justify-content-center">
        <form method="POST">
            <button type="submit" name="score" class="btn btn-outline-light" value="{{ True }}"><b style="font-family:'Times New Roman', Times, serif;">Min. Final Score</b></button>
            <button type="submit" name="python" class="btn btn-outline-light" value="{{ True }}"><b style="font-family:'Times New Roman', Times, serif;">Min. Final Score (Python)</b></button>
        </form>
    </div>
{% endblock body %}